$globalduration: .1s;
$partialduration: .2s;
$globalradius: 12px;
$globalshadow: 0 0 18px 4px var(--nav-shadow);
$monofont: "Cascadia Code", monospace;

@mixin resFont($width, $size) {
    @media screen and (max-width: $width) {
        font-size: $size;
    }
}

@mixin resWidth($width, $size) {
    @media screen and (max-width: $width) {
        width: $size;
    }
}

:root {
    --accent-lite: #6ee2f5;
    --accent-half: #6999f2;
    --accent-deep: #6454f0;
    --box-shadow: #18181888;
    --nav-shadow: #00000066;
    --text-color: #cfcfcf;
    --text-stark: #eceef2;
    --background: #161616;
    --foreground: #1c1c1c;
    --hover-bg: #282828;
    --active-fg: var(--background);
    --active-bg: var(--accent-half);
    --green: #4caf50;
    --red: #f44336;
    --orange: #ffa726;
}

* {
    scrollbar-width: thin !important;
    scrollbar-color: var(--accent-half) #00000000 !important;
    box-sizing: border-box;
    transition-duration: $globalduration;
    transition-timing-function: ease-in-out;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
*::-webkit-scrollbar {
    width: 7px !important;
    height: 7px !important;
}
*::-webkit-scrollbar-thumb {
    background: var(--accent-half) !important;
}
*::-webkit-scrollbar-track {
    background: #00000000 !important;
}
::selection {
    color: var(--background);
    background: var(--accent-half);
}
.no-select, x, y, item, header, footer, .fa {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
html {
    font-family: 'Radio Canada', sans-serif;
    font-size: 18px;
    @include resFont(1200px, 17px);
    @include resFont(992px, 16px);
    @include resFont(768px, 15px);
    @include resFont(600px, 14px);
}
html, body {
    line-height: 1.3;
}
body,
backdrop {
    color: var(--text-color);
    background: var(--background);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' version='1.1' height='250px' width='250px' style='fill:rgb(0,0,0,.15)' viewBox='0 0 300 300'><path d='M192 0c-.5 18.3-16.2 38.9-37.9 40.3-25.2 1.7-36.7 14.8-38.1 39.5-1 17.6-18.8 34.8-36.5 36.4-7.6.7-15.5 2.6-22.3 6-11.8 6-17.4 20.4-15.2 34.5 1.5 10.1 14.1 22.4 25 25.3 11.1 3 23.4 4.5 32.9 10.4 20.8 12.9 22.8 47.3 1.3 64-8 6.2-16.1 8.7-25.9 9.8C57 268.4 42.4 276.9 42 300H0v-42c19.5-1 34.7-15.7 33.8-34.1C32.9 207 19.3 191.4 0 192v-84c21.4-.3 32.6-14.4 33.7-35.2 1.1-20.2 18.4-37.8 39-39.1C95.6 32.2 105.9 23 108 0h84z'/><path d='M258 300c1.4-19.9-15.4-33.4-34.1-33.7-20.7-.4-39.2-18.1-40.1-39.1-.9-20.9-12.6-34.3-34.8-35.5-17.9-1-31.3-10.6-38-27.9-6.2-16.1-1.9-30.8 9.3-42.5 9.5-9.9 22.2-15.5 36.6-12.7 16.7 3.3 27.7 13.9 32.9 30 1.5 4.6 1.9 9.6 2.1 14.5.6 14.5 15 27.7 29.5 29.2 22.3 2.4 34.5-13.3 36.7-31 2.3-18.1 8.6-33.6 27.7-40 4.6-1.5 9.5-2.2 14.2-3.2v84c-23.7.5-33.2 16.4-33.6 34.2-.3 16.6 16 32.3 33.6 31.8v42c-14-.1-28-.1-42-.1zm-150 0c2.5-20.2 12.2-34.3 32.6-40.3 20.4-6 45.9 9.1 49.4 29.8.6 3.5 1.3 7 2 10.5h-84zM42 0C40 22.1 26.5 39.1 0 42V0h42zm258 42c-26.4-4.2-37.9-15.7-42-42h42v42z'/><path d='M266 75.1c1.9 18.5-19.4 41.9-41 41.4-21.3-.5-41.8-20-41.4-42.4.4-20.1 19.5-40.9 42-40.7 20.7.4 42.6 20.1 40.4 41.7z'/></svg>");
    background-repeat: repeat;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
content {
    height: 100%;
    min-height: 100svh;
    width: 100%;
    padding: 1rem 0;
}
.container {
    background: 0 0;
    width: 100%;
    padding: 0 2rem;
    color: var(--text-color);
    word-wrap: break-word;
    @media screen and (max-width: 600px) {
        padding: 0 1.5rem;
    }
}
.gradient {
    background: var(--accent-half);
    background-image: none;
    background-clip: border-box;
    background-image: linear-gradient(-45deg, var(--accent-deep) 0%,var(--accent-lite) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &.anime {
        background-image: linear-gradient(var(--gradient-angle), var(--accent-deep) 0%,var(--accent-lite) 100%);
    }
}
.curtain {
    position: fixed;
    left: -100rem;
    top: -100rem;
    opacity: 0;
    z-index: -10;
}
.flex {
    display: flex;
    &.flex-center-v:not(.flex-column),
    &.flex-column.flex-center-h {
        align-items: center;
    }
    &.flex-center-h:not(.flex-column),
    &.flex-column.flex-center-v {
        justify-content: center;
    }
    &.flex-space-between {
        justify-content: space-between;
    }
    &.flex-column {
        flex-direction: column;
        &.flex-reverse {
            flex-direction: column-reverse;
        }
    }
    &.flex-row {
        flex-direction: row;
        &.flex-reverse {
            flex-direction: row-reverse;
        }
    }
    &.flex-wrap {
        flex-wrap: wrap;
    }
    .flex-grow {
        flex: 1 0 auto;
    }
    @media screen and (min-width: 601px) {
        .flex-row.flex-responsive {
            flex-direction: row-reverse;
        }
    }
}
footer {
    font-size: .8rem;
    font-weight: 300;
    .fa.fa-catadex {
        margin-right: .5rem;
    }
    .footer-divider {
        margin: 0 .4rem;
    }
}
.gap {
    &.g05 {
        gap: .5rem;
    }
    &.g10 {
        gap: 1rem;
    }
    &.g20 {
        gap: 2rem;
    }
}
.glow {
    background: var(--background);
    border-radius: calc($globalradius - 2px);
    box-shadow: 0 2px 8px 2px var(--box-shadow);
    position: relative;
    padding: 1rem;
}
.glow::before,
.glow::after {
    content: "";
    position: absolute;
    inset: -5px;
    background: conic-gradient(from var(--gradient-angle),var(--accent-lite),var(--accent-half),var(--accent-deep),var(--accent-half),var(--accent-lite));
    border-radius: $globalradius;
    z-index: -1;
}
.glow::after {
    filter: blur(3.5rem);
    opacity: .8;
}
qr, backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
qr {
    z-index: 10;
    backdrop {
        z-index: 0;
    }
    img {
        width: calc(100% - 2rem);
        height: auto;
        max-height: 300px;
        max-width: 300px;
        background: white;
        filter: brightness(.90);
        box-shadow: 0 2px 8px 6px var(--box-shadow);
        border-radius: $globalradius;
        z-index: 1;
    }
}
card.login, card.next {
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    max-height: 16rem;
    max-width: 24rem;
}
card.login form, card.next form {
    display: grid;
    width: 100%;
    overflow: hidden;
    input, span {
        height: 100%;
        width: 100%;
        color: var(--text-color);
        background: var(--foreground);
        border: 0;
        border-radius: $globalradius;
        padding: 1rem;
    }
    input.text {
        font-family: $monofont;
        font-size: .9rem;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        &:hover/* , &:focus */ {
            border-color: var(--accent-half);
            background: var(--hover-bg);
        }
    }
}
card.login form {
    grid-template-rows: repeat(2, 2.5rem);
    grid-template-columns: 1fr 6rem;
    .item-1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .item-2 {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .item-3 {
        grid-row: 1/3;
        grid-column: 2/2;
    }
    input.submit {
        font-size: 2rem;
        cursor: not-allowed;
        &.active {
            cursor: pointer;
            color: var(--accent-half);
            transform: scale(1);
            &:hover/* , &:focus */ {
                background: var(--hover-bg);
            }
            &:active {
                transform: scale(.9);
                color: var(--active-fg);
                background: var(--active-bg);
            }
        }
    }
}
card.next form {
    grid-template-rows: repeat(2, 2.5rem);
    grid-template-columns: repeat(4, 1fr);
    .item-1 {
        grid-row: 1/2;
        grid-column: 1/5;
    }
    .item-2 {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .item-3 {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .item-4 {
        grid-row: 2/3;
        grid-column: 3/4;
    }
    .item-5 {
        grid-row: 2/3;
        grid-column: 4/5;
    }
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transform: scale(1);
        &:hover/* , &:focus */ {
            color: var(--text-stark);
            background: var(--hover-bg);
        }
        &:active {
            transform: scale(.9);
            color: var(--accent-half);
        }
    }
    .copy {
        &:not(.success):not(.failure) {
            .fa-tick, .fa-fail {
                display: none;
            }
        }
        &.success {
            color: var(--green);
            .fa-copy, .fa-fail {
                display: none;
            }
        }
        &.failure {
            color: var(--red);
            .fa-copy, .fa-tick {
                display: none;
            }
        }
    }
}
main > section:not(.filter) {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
main > section.search {
    --search-size: 3.5rem;
    form {
        display: grid;
        grid-template-rows: var(--search-size);
        grid-template-columns: 1fr var(--search-size) var(--search-size);
        width: 100%;
        background: var(--foreground);
        border-radius: $globalradius;
        box-shadow: $globalshadow;
        &:hover/* , &:focus */, &.active {
            input[type='submit'] {
                background: var(--hover-bg);
            }
        }
        &.active {
            input[type='text'] {
                grid-column: 1/2;
            }
            input[type='button'] {
                display: block;
            }
        }
        input {
            grid-row: 1/2;
            font-size: 1.1rem;
            background: transparent;
            color: var(--text-color);
            border: 0;
        }
        input:not([type='text']) {
            font-family: "Fontasm";
            cursor: pointer;
        }
        input[type='text'] {
            font-family: $monofont;
            grid-column: 1/3;
            padding: 1.1rem;
            padding-right: 0;
            border-radius: $globalradius 0 0 $globalradius;
        }
        input[type='button'] {
            grid-column: 2/3;
            display: none;
            &:hover/* , &:focus */ {
                color: var(--text-stark);
            }
        }
        input[type='submit'] {
            grid-column: 3/4;
            border-radius: 0 $globalradius $globalradius 0;
            &:hover/* , &:focus */ {
                color: var(--active-fg);
                background: var(--active-bg);
            }
        }
    }
}
main > section.search > thumb {
    height: var(--search-size);
    min-width: var(--search-size);
    background: var(--foreground);
    box-shadow: $globalshadow;
    border-radius: $globalradius;
    cursor: pointer;
    svg {
        fill: var(--text-color);
        height: calc(var(--search-size) - 2rem);
        width: auto;
        path, circle {
            transition: transform $partialduration ease-in-out;
        }
        path.thumb-left {
            transform: rotate(0deg) scaleY(1) translateX(0px);
            transform-origin: 50% 50%;
        }
        path.thumb-right {
            transform: rotate(0deg) scaleY(1) translateX(0px);
            transform-origin: 50% 50%;
        }
        circle:nth-of-type(1), circle:nth-of-type(2),
        circle:nth-of-type(3), path.thumb-middle {
            transform: translateY(0px);
        }
        path.thumb-middle {
            transform: rotate(0deg);
            transform-origin: 50% 50%;
            opacity: 1;
            transition: transform $partialduration ease-in-out, opacity .5s ease-in-out;
        }
    }
    &.enabled {
        svg {
            path.thumb-left {
                transform: rotate(45deg) scaleY(1.354816667) translateX(105px);
            }
            path.thumb-right {
                transform: rotate(-45deg) scaleY(1.354816667) translateX(-105px);
            }
            circle:nth-of-type(1), circle:nth-of-type(2) {
                transform: translateY(300px);
            }
            circle:nth-of-type(3) {
                transform: translateY(-300px);
            }
            path.thumb-middle {
                transform: rotate(135deg);
                opacity: 0;
            }
        }
    }
    &:hover/* , &:focus */ {
        background: var(--hover-bg);
        svg {
            fill: var(--text-stark);
        }
    }
    &:active {
        transform: scale(.9);
        svg {
            fill: var(--accent-half);
        }
    }
}
main > section.list {
    padding: 1rem .5rem;
    list {
        width: 100%;
        padding: 1rem 0;
        row-gap: 1rem;
        &::after {
            content: "";
            clear: both;
            display: table;
        }
        item {
            cursor: pointer;
            padding: 1rem;
            margin: 0 .5rem;
            background: var(--foreground);
            border-radius: $globalradius;
            box-shadow: $globalshadow;
            overflow: hidden;
            width: calc(33.33% - 1rem);
            @include resWidth(960px, calc(50% - 1rem));
            @include resWidth(640px, calc(100% - 1rem));
            &:hover/* , &:focus */ {
                background: var(--hover-bg);
            }
            &:active {
                transform: scale(.98);
            }
            a.wiki {
                font-size: 1.6rem;
                min-height: 3.5rem;
                min-width: 3.5rem;
                cursor: pointer;
                background: var(--background);
                border-radius: calc($globalradius - 2px);
                &:hover/* , &:focus */ {
                    color: var(--text-stark);
                    background: var(--foreground);
                }
            }
            iname {
                font-size: 1.1rem;
            }
            span {
                font-family: $monofont;
                font-size: .8rem;
                padding: .2rem .5rem;
                color: var(--active-fg);
                border-radius: calc($globalradius - 6px);
                background: var(--accent-half);
                &:first-of-type {
                    background: var(--accent-deep);
                }
            }
        }
    }
}
main > section.list > pages {
    --button-height: 2rem;
    --button-width: 3rem;
    span, select {
        height: var(--button-height);
        color: var(--text-color);
        background: var(--foreground);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: calc($globalradius - 4px);
        box-shadow: $globalshadow;
        cursor: pointer;
        &:hover/* , &:focus */ {
            color: var(--text-stark);
            background: var(--hover-bg);
        }
    }
    span {
        width: var(--button-width);
        &:active {
            color: var(--accent-half);
            transform: scale(.85);
        }
        &.disabled {
            cursor: not-allowed;
            transform: scale(1);
            color: var(--text-color);
            background: var(--foreground);
            opacity: .2;
        }
    }
    select {
        font-family: $monofont;
        min-width: calc(var(--button-width) * 1.5);
        text-align: center;
        color: var(--text-color);
        border: 0;
    }
}
main > section.list > blank {
    font-size: 1.1rem;
    margin-top: 4rem;
}
main > section.filter {
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: calc(-100svh - 4rem);
    left: 0;
    padding: 0 2rem;
    margin: 0;
    z-index: 5;
    transition-duration: $partialduration;
    @media screen and (max-width: 600px) {
        padding: 0 1.5rem;
    }
    &.enabled {
        bottom: var(--bottom-distance);
    }
    filters {
        height: calc(100% + var(--bottom-distance));
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        padding: 2rem 1rem;
        background: var(--foreground);
        border-radius: $globalradius $globalradius 0 0;
        box-shadow: $globalshadow;
    }
    filter {
        width: 100%;
        padding: .5rem 1rem;
        text-align: center;
        --tag-color: var(--accent-half);
        &:first-of-type {
            --tag-color: var(--accent-deep);
        }
        fname {
            font-size: 1.1rem;
        }
        ftags x, ftags y {
            font-family: $monofont;
            font-size: .8rem;
            padding: .2rem .5rem;
            color: var(--active-fg);
            background: var(--tag-color);
            border: 1px solid var(--tag-color);
            border-radius: calc($globalradius - 6px);
            transition-duration: $globalduration;
            transition-timing-function: ease-in-out;
            cursor: pointer;
            &:hover/* , &:focus */ {
                filter: brightness(1.1) contrast(1.2);
            }
            &:active {
                transform: scale(.9);
            }
            &.active {
                color: var(--text-color);
                background: transparent;
            }
        }
        ftags y {
            color: var(--text-color);
            background: transparent;
            &.active {
                color: var(--active-fg);
                background: var(--tag-color);
            }
        }
    }
}


.hidden {
    display: none;
}

.logo-home {
    font-size: 4rem;
    cursor: pointer;
    &:not(.fa) {
        font-family: 'All the Roll', sans-serif;
        line-height: .8;
        &:hover/* , &:focus */ {
            color: var(--text-stark);
        }
    }
    &.fa {
        &:hover/* , &:focus */ {
            filter: brightness(1.1) contrast(1.2);
        }
    }
    &:active {
        transform: scale(.95);
    }
}

.no-scroll {
    overflow: hidden;
}